.projectmanagerInput {
    position: absolute;
    margin: auto;
    left: 41.5%;
    top: 350px;
}

.label{
    position: absolute;
    margin: auto;
    left: 41.5%;
    top: 320px;
}

.buttonsick {
    position: absolute;
    margin: auto;
    left: 41.5%;
    top: 440px;
    width: 300px;
    height: 50px;
}

.inputsick{
    position: absolute;
    margin: auto;
    left: 34%;
    top: 450px;
    width: 300px;
    height: 50px;
}