.projectmanagerInput {
  position: absolute;
  margin: auto;
  left: 41.5%;
  top: 40%;
  width: 22.9%;
  height: 9%;
}

.projectmanagerInput select {
  width: 100%;
  height: 100%;
}

.label {
  position: absolute;
  margin: auto;
  left: 45%;
  top: 35%;
}

.buttonsick {
  position: absolute;
  margin: auto;
  left: 38%;
  top: 50%;
  width: 30%;
  height: 7.5%;
}

.inputsick {
  position: absolute;
  margin: auto;
  left: 38%;
  top: 59%;
  width: 30%;
}

.inputsick textarea {
  width: 100%;
  height: 100%;
}
