.projectmanagerInput {
    position: absolute;
    margin: auto;
    left: 41.5%;
    top: 40%;
}

.label{
    position: absolute;
    margin: auto;
    left: 45%;
    top: 35%;
}

.buttonsick {
    position: absolute;
    margin: auto;
    left: 38%;
    top: 50%;
    width: 30%;
    height: 7.5%;
}

.inputsick{
    position: absolute;
    margin: auto;
    left: 38%;
    top: 59%;
}