.trashIcon{
    cursor: pointer;
}

.container{
    position: absolute;
    width: 91.77%;
    top: 15%;
    margin-left: 8.23%;
}

.button{
    cursor: pointer;
    position: absolute;
    width: 20%;
    height: 20%;
    right: 0%;
    top: 100%;
    margin-left: 8.23%;

    color: #FFFFFF;
    background: #F8921E;
    border: 2px #FFFFFF;
    border-radius: 10px;
}