.week {
  position: absolute;
  width: calc(100%);
  top: 14%;
  z-index: -1;
}

.week .arrowl {
  position: absolute;
  width: 5%;
  left: 35.9%;
}

.week .arrowr {
  position: absolute;
  width: 5%;
  left: 58.2%;
}

.week p {
  position: absolute;
  left: 43.9%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 119%;
  line-height: 200%;
  display: flex;
  align-items: center;
  text-align: center;

  color: #181515;
}

.teamname{
  position: absolute;
  width: calc(100%);
  top: 25%;
  left: 13.9%;
  z-index: -1;
}

.teamname p{
  font-family: "Inter";
  font-style: normal;
}
