.week {
  position: absolute;
  width: calc(100%);
  top: 14%;
  z-index: -1;
}

.week .arrowl {
  position: absolute;
  width: 5%;
  left: 40.5%;
}

.week .arrowr {
  position: absolute;
  width: 5%;
  left: 62.8%;
}

.week p {
  position: absolute;
  left: 49.2%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 200%;
  display: flex;
  align-items: center;
  text-align: center;

  color: #181515;
}
