.container{
    position: absolute;
    width: 70%;
    height: 80%;
    top: 14%;
    margin-left: 9.23%;
    overflow-y: scroll;
    max-height: 75%;
    z-index: -1;
}

.container::-webkit-scrollbar {
    display: none;
  }

.tableTeam{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    margin-top: 2%;
    z-index: -1;
}

.button{
    cursor: pointer;
    position: absolute;
    width: 15%;
    height: 10%;
    left: 81%;
    top: 18%;

    color: #FFFFFF;
    background: #F8921E;
    border: 2px #FFFFFF;
    border-radius: 10px;
}

