:root {
    --box-size: 100px;
    --header-height:  50px;
}

h1 {
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    width: 240px;
    height: var(--header-height);
    line-height: var(--header-height);
    color: var(--black);
    background-color: var(--white);
    border-radius: 0px 5px 0px 0px;
    border-bottom: 2px solid var(--blue);
    margin: 0px;
}

ul {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding: 10px 0px 10px 0px;
    line-height: var(--box-size);
}

li {
    color: var(--black);
    font-size: var(--medium-font-size);
    margin-bottom: 10px;
}

.Box {
    
    width: var(--box-size);
    height: var(--box-size);
    line-height: var(--box-size);
    background-color: var(--gray);
    border-radius: 11px;
}

.Entry {
    display: flex;
}
.Entry p {
    padding-top: 40px;
    width: var(--box-size);
    margin: 0px;
    display: inline-block;
    line-height: 20px;
    align-items: center;
}

.Entry .Box {
    margin-left: 10px;
}

.LegendBody {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    width: 238px;
    height: 564px;
    background-color: var(--white);
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-color: var(--blue);
    border-radius: 0px 0px 5px 0px;
}