.navbackground{
    position: absolute;
    width: 119px;
    height: calc(100% - 75px);
    left: 0px; 
    background-color: #F7F6F6;
}

.calender{
    position: absolute;
    width: 76px;
    height: 76px;
    left: 21px;
    top: 43px;    
}

.team{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 23px;
    top: 143px;    
}

.sick{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 23px;
    top: 243px;
}

.leave{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 23px;
    top: 343px;
}