.navbackground{
    position: absolute;
    width: 119px;
    height: 100%;
    left: 0px; 
    background-color: #F7F6F6;
}

.calender{
    position: absolute;
    width: 76px;
    height: 76px;
    left: 21px;
    top: 43px;    
}

.team{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 23px;
    top: 143px;    
}

.sick{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 23px;
    top: 243px;
}

.leave{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 23px;
    top: 343px;
}

.adminLine{
    position: absolute;
    width: 77px;
    height: 0px;
    left: 21px;
    top: 549px;

    border: 1px solid #181515;
}

.singleManage{
    position: absolute;
    width: 86px;
    height: 84px;
    left: 21px;
    top: 651px;
}

.teamManage{
    position: absolute;
    width: 76px;
    height: 67px;
    left: 23px;
    top: 572px;
}