.header { 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0px;
  align-items: center;
  padding: 0px !important;
  height: 75px;
  width: 100%;
  padding: 1%;
  background-color: var(--white);
  box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.25);
}

.logo {
  justify-self: center;
  grid-column: span 2;
  width: 200px;
  height: 75px;
}

.logout {
  justify-self: center;
  grid-column: 12 / span 1;
  width: 50px;
  height: 50px;
}