.Index {
    width: var(--box-size);
    text-align: center;
}

.TopToday {
    height: calc(var(--box-size) * 0.5);
    background-color: var(--gray);
    border-radius: 11px 11px 0px 0px;
    border-style: solid;
    border-color: var(--black);
    border-width: 2px 2px 1px 2px;
}

.BottomToday {
    height: calc(var(--box-size) * 0.5);
    background-color: var(--gray);
    border-radius: 0px 0px 11px 11px ;
    border-style: solid;
    border-color: var(--black);
    border-width: 1px 2px 2px 2px;
}